@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  zoom: 1.5;
}

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background: rgb(250 250 250);
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
}

.body {
  background: white url("/src/assets/BH_1300lede.gif") no-repeat center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}
