@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  zoom: 1.5;
}

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background: #895af6ee;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
}
